{% extends 'pets/main.html' %} 

{% block information %}
<h1>{{ event.pet }}</h1><p>
<u>{{ event.get_event_type_display }}</u><p>
<b>{{ event.event_date }}</b><p>
<b>{{ event.event_comment }}</b><p>
<b>{{ event.reminde_me }}</b><p>
<b>{{ event.reminder_comment }}</b><p>
<b>{{ event.pet.u_name }}</b><p>
<a href="{% url 'pets:changeevent' event.id %}">Редактировать</a><p>
<a href="{% url 'pets:deleteevent' event.id %}">Удалить</a><p>
<a href="{% url 'pets:petdetail' event.pet.id %}">Назад к питомцу</a><p>
<a href="{% url 'pets:petevents' event.pet.id %}">Назад к списку событий</a><p>
<a href="{% url 'pets:petlist' %}">Назад к списку питомцев</a><p>

{% endblock %}