{% extends 'pets/main.html' %}

{% block information %}
<p>Создание/pедактирование события для питомца: {{ pet_name }}{{ object.pet }}<p>
<form action="" method="post">
	<table class = 'form'>
    {% csrf_token %}
    {{ form.as_table }}
    </table>
    <button type='Submit'>Создать</button>
</form>
{% if object %}
<div class = 'bigbutton'><a href="{% url 'pets:petdetail' object.pet.id %}">Вернуться к питомцу {{ object.pet }}</a></div>
{% endif %}
{% if pet_name %}
<div class = 'bigbutton'><a href="{% url 'pets:petdetail' pet_name.id %}">Вернуться к питомцу {{ pet_name }}</a></div>
{% endif %}
{% endblock %}