{% extends 'pets/main.html' %} 

{% block information %}
<h4>Вы смотрите историю событий для питомца: {{ petname }}</h1>
<hr>
<div class="row">
  <div class="small-9 columns small-centered">
{% if not events %}
Вы не добавили ни одного события для этого питомца.
{% endif %}
{% for event in events %}
    <article class="event">

        <div class="event-date">
          <p class="event-month">{{ event.event_date|date:"d" }}</p>
          <p class="event-day">{{ event.event_date|date:"b" }}</p>
        </div>

        <div class="event-desc">
          <h4 class="event-desc-header">{{ event.get_event_type_display }}</h4>
          <p class="event-desc-detail"><span class="event-desc-time"></span>{{ event.event_comment }}</p>
          <a href="{% url 'pets:viewevent' event.id %}" class = 'success hollow button'>Просмотреть событие</a>
          <a href="{% url 'pets:deleteevent' event.id %}" class="secondary hollow button">Удалить событие</a>
        </div>
      </article>
      <hr>
{% endfor %}
</div></div>
<hr>
<div style="clear:both; height: 50px;"></div>
{% if pet.is_dead = False %}
<a href="{% url 'pets:addevent' pet.id %}" class="success button">Добавить событие</a>
{% else %}
<div class="secondary button">Добавить событие</div>
{% endif %}
<a href="{% url 'pets:petdetail' petid %}" class="success button">Назад к питомцу</a>
{% endblock %}