{% extends 'pets/main.html' %} 

{% block information %}
<h1>Вы смотрите историю событий для питомца: {{ petname }}</h1>
<table>
{% if not events %}
Вы не добавили ни одного события для этого питомца.
{% endif %}
{% for event in events %}
<tr><td>
<a href="{% url 'pets:viewevent' event.id %}">{{ event.event_date }} - {{ event.get_event_type_display }}</a></td>
<td>{{ event.event_comment }}</td>
<td><div class = 'smallbutton'><a href="{% url 'pets:deleteevent' event.id %}">Удалить событие</a></div></td>
{% endfor %}
</table>
<div style="clear:both; height: 50px;"></div>
<div class = 'bigbutton'><a href="{% url 'pets:addevent' petid %}">Добавить событие</a></div>
<div class = 'bigbutton'><a href="{% url 'pets:petdetail' petid %}">Назад к питомцу</a></div>
{% endblock %}