{% extends 'pets/main.html' %}

{% block information %}
<p><a href="{% url 'pets:newspecies' %}"class="success hollow button">Новый вид</a><span class="helptext"> Добавить вид, которого нет в выпадающем списке. Введенные ранее в форму данные будут утеряны!</span>
<p>
<form action="" method="post">
	<table class = 'form'>
    {% csrf_token %}
    {{ form.as_table }}
    </table>
    <button type='Submit' class="success hollow button">Создать</button>
    </form>
 <div class="clear"></div>
{% if object %}
<a href="{% url 'pets:petdetail' object.id %}" class="success button">Вернуться к питомцу {{object.pet_name}}</a>
{% endif %}
{% endblock %}