{% extends 'pets/main.html' %}

{% block information %}
<p><div class = 'smallbutton'><a href="{% url 'pets:newspecies' %}">Новый вид</a></div> Добавить вид, которого нет в выпадающем списке. Введенные данные будут утеряны!
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button type='Submit'>Создать</button>
</form>
{% if object %}
<div class = 'bigbutton'><a href="{% url 'pets:petdetail' object.id %}">Вернуться к питомцу {{object.pet_name}}</a></div>
{% endif %}
{% endblock %}