{% extends 'loginsys/main.html' %}
 {% block login %}
<form action = '' method = 'post' class = 'form'>
	{% csrf_token %}
	<label for='username'>Имя пользователя</label>
	<input type='text' name='username' id='username'><p>
	<label for='password'>Пароль</label>
	<input type='password' name='password' id='password'><p>
	{% if login_error %}
	<label class='error'>{{ login_error }}</label>
	{% endif %}
	<input class="success hollow button" type='submit' value='Войти'>
	<a href='/auth/register/' class="secondary button">Зарегистрироваться</a>
</form>
<div class="clear"></div>
{% endblock %}