{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href = '{% static 'pets/styles.css' %}'>
    <link rel="stylesheet" href='{% static 'pets/css/foundation.css' %}'>
    <title>MyPet - календарь террариумиста</title>
    <link rel="shortcut icon" type="image/png" href='{% static "images/favicon.ico" %}'/>
 </head> 
 <body>
 	<div class="callout primary">
<h4>Для пользования системой необходима авторизация.</h4>
Если вы хотите просто посмотреть, что умеет система, вы можете использовать 
пользователя test с паролем test.
	</div>
  {% block login %} {%endblock%}
  </body>
</html>